#orderTextbox {
  max-width: 8em;
}

#gridLayoutWarning {
  padding-left: 2em;
  padding-right: 2em;
  font-style: italic;
  margin-bottom: 1em;
}

griditemposition {
  -moz-binding: url("chrome://cssproperties/content/griditemposition.xml#griditemposition");
}
