#gridItemPositionWarning {
  padding-left: 2em;
  padding-right: 2em;
  font-style: italic;
  margin-bottom: 1em;
}

#gridTemplateColumnsListbox richlistitem {
  padding-left: 2em;
}

#gridTemplateColumnsListbox richlistitem.lines,
#gridTemplateColumnsListbox richlistitem.repetition {
  padding-left: 4px;
}

#gridTemplateColumnsListbox richlistitem.repeated {
  padding-left: 4em;
}

#gridTemplateColumnsListbox richlistitem.repeated.lines {
  padding-left: 2em;
}

#gridTemplateAreaTextbox {
  font-family: monospace;
}
