*#sizeSelector label {
  width: 2em;
  margin: 0px ! important;
}

*#sizeSelector:not([disabled]) label:hover,
*#sizeSelector label.selected {
  background-color: rgb(10,36,106) ! important;
}

*#sizeSelector[disabled] label.selected {
  background-color: silver ! important;
}

*#sizeSelector label {
  border: 2px ridge !important;
}

*#sizeSelector[disabled] label {
  border: silver 2px ridge !important;
}

#widthPixelOrPercentMenulist {
  min-width: 10em;
}

tabbox textbox {
  max-width: 5em;
}

.spinbuttons-button {
  min-height: 8px ! important;
}


