#blocksListbox {
  width: 45em;
}

#charGrid row:first-child,
.gridCell {
  font-family: monospace;
  text-align: center;
}

.gridCell {
  font-size: 20px;
  font-family: "Lucida Sans Unicode";
}


.gridCell {
  margin: 0px ! important;
  background-color: white;
}

#charPreview {
  height: 64px;
  width: 64px;
  border: thin solid gray;
  border-radius: 9px;
  background-color: #E0E0E0;
  text-align: center;
  font-size: 48px;
  text-shadow: 2px 2px 4px gray;
}

#gridBox {
  margin-top: 4px;
  margin-bottom: 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.gridCell.selected {
  background-color: lightgray;
  border-radius: 4px;
}
