#mainBox {
  padding: 4px;
}

#installedFontsTree {
  margin: 0px;
}

.listboxBgViewButton {
  list-style-image: url("chrome://gfd/skin/viewfont.png");
}

.listboxBgViewButton[disabled="true"] {
  list-style-image: url("chrome://gfd/skin/viewfont-disabled.png");
}
