#contentsTree {
  margin: 0px;
  margin-top: 4px;
  min-width: 200px;
  height: 200px;
}

treechildren::-moz-tree-checkbox(checked)
{
    /* css for checked cells */
    list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}
