*:not([\_moz_anonclass])::before {
  font-family: monospace;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  color: #050505;
  padding: 0px 5px;
  background: -moz-linear-gradient(
    top,
    #f7ff00 0%,
    #ffbf00);
  border-radius: 30px;
  border: 1px solid #918491;
  box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 0px 0px rgba(255,255,255,0);
  -moz-margin-end: 6px;
}

a::before {
  content: 'A';
}

abbr::before {
  content: 'ABBR';
}

address::before {
  content: 'ADDRESS';
}

area::before {
  content: 'AREA';
}

article::before {
  content: 'ARTICLE';
}

aside::before {
  content: 'ASIDE';
}

audio::before {
  content: 'AUDIO';
}

b::before {
  content: 'B';
}

base::before {
  content: 'BASE';
}

bdi::before {
  content: 'BDI';
}

bdo::before {
  content: 'BDO';
}

blockquote::before {
  content: 'BLOCKQUOTE';
}

body::before {
  content: 'BODY';
}

br::before {
  content: 'BR';
}

/* the generated content appears inside the button :-(
button::before {
  content: 'BUTTON';
}
*/

canvas::before {
  content: 'CANVAS';
}

caption::before {
  content: 'CAPTION';
}

cite::before {
  content: 'CITE';
}

code::before {
  content: 'CODE';
}

col::before {
  content: 'COL';
}

colgroup::before {
  content: 'COLGROUP';
}

command::before {
  content: 'COMMAND';
}

datalist::before {
  content: 'DATALIST';
}

dd::before {
  content: 'DD';
}

del::before {
  content: 'DEL';
}

details::before {
  content: 'DETAILS';
}

div::before {
  content: 'DIV';
}

dl::before {
  content: 'DL';
}

dt::before {
  content: 'DT';
}

em::before {
  content: 'EM';
}

embed::before {
  content: 'EMBED';
}

fieldset::before {
  content: 'FIELDSET';
}

figcaption::before {
  content: 'FIGCAPTION';
}

figure::before {
  content: 'FIGURE';
}

footer::before {
  content: 'FOOTER';
}

form::before {
  content: 'FORM';
}

head::before {
  content: 'HEAD';
}

h1::before {
  content: 'H1';
}

h2::before {
  content: 'H2';
}

h3::before {
  content: 'H3';
}

h4::before {
  content: 'H4';
}

h5::before {
  content: 'H5';
}

h6::before {
  content: 'H6';
}

header::before {
  content: 'HEADER';
}

hgroup::before {
  content: 'HGROUP';
}

hr::before {
  content: 'HR';
}

html::before {
  content: 'HTML';
}

i::before {
  content: 'I';
}

iframe::before {
  content: 'IFRAME';
}

img::before {
  content: 'IMG';
}

input::before {
  content: 'INPUT';
}

ins::before {
  content: 'INS';
}

kbd::before {
  content: 'KBD';
}

keygen::before {
  content: 'KEYGEN';
}

label::before {
  content: 'LABEL';
}

legend::before {
  content: 'LEGEND';
}

li::before {
  content: 'LI';
}

link::before {
  content: 'LINK';
}

map::before {
  content: 'MAP';
}

mark::before {
  content: 'MARK';
}

meter::before {
  content: 'METER';
}

nav::before {
  content: 'NAV';
}

noscript::before {
  content: 'NOSCRIPT';
}

object::before {
  content: 'OBJECT';
}

ol::before {
  content: 'OL';
}

optgroup::before {
  content: 'OPTGROUP';
}

option::before {
  content: 'OPTION';
}

output::before {
  content: 'OUTPUT';
}

p::before {
  content: 'P';
}

param::before {
  content: 'PARAM';
}

pre::before {
  content: 'PRE';
}

progress::before {
  content: 'PROGRESS';
}

q::before {
  content: 'Q';
}

rp::before {
  content: 'RP';
}

rt::before {
  content: 'RT';
}

ruby::before {
  content: 'RUBY';
}

s::before {
  content: 'S';
}

samp::before {
  content: 'SAMP';
}

section::before {
  content: 'SECTION';
}

select::before {
  content: 'SELECT';
}

small::before {
  content: 'SMALL';
}

source::before {
  content: 'SOURCE';
}

span::before {
  content: 'SPAN';
}

strong::before {
  content: 'STRONG';
}

style::before {
  content: 'STYLE';
}

sub::before {
  content: 'SUB';
}

summary::before {
  content: 'SUMMARY';
}

sup::before {
  content: 'SUP';
}

table::before {
  content: 'TABLE';
}

tbody::before {
  content: 'TBODY';
}

td::before {
  content: 'TD';
}

textarea::before {
  content: 'TEXTAREA';
}

tfoot::before {
  content: 'TFOOT';
}

th::before {
  content: 'TH';
}

thead::before {
  content: 'THEAD';
}

time::before {
  content: 'TIME';
}

title::before {
  content: 'TITLE';
}

/* corrupts the table adding a first column :-(
tr::before {
  content: 'TR';
}
*/

track::before {
  content: 'TRACK';
}

ul::before {
  content: 'UL';
}

var::before {
  content: 'VAR';
}

video::before {
  content: 'VIDEO';
}

wbr::before {
  content: 'WBR';
}

*[\_moz_anonclass]::before {
  content: none !important;
}
