/*.paneSelector > radio {
  list-style-image: url("chrome://bluegriffon/skin/prefs/buttons.png")
}

radio[pane="generalPrefPane"] {
  -moz-image-region: rect(0px, 96px, 32px, 64px)
}

radio[pane="newPagePrefPane"] {
  -moz-image-region: rect(0px, 192px, 32px, 160px)
}
*/

#locale-listbox[disabled="true"] * {
  color: silver;
}

#commandsShortcutsTree[disabled="true"] {
  color: silver;
}
