window {
  background-color: #BFBFBF;
  font-size: 10pt;
}
#tipoftheday-top-box {
  margin: 10px;
  margin-bottom: 0px;
}
#toolbox {
  margin: 10px;
  margin-top: 0px;
}

#tipoftheday-left-box {
  background-color: #808080;
  width: 58px;
}
#tipoftheday-left-image {
  margin-top: 18px;
}
#tipoftheday-left-label {
  font-weight: bold;
  color: #FFFFF0;
  margin-bottom: 18px;
}
#tipoftheday-right-box {
  background-color: #FFFFFF;
  width: 346px;
  border: 1px solid silver;
}
#tipoftheday-right-label {
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  padding: 18px;
}
#tipoftheday-right-title {
  font-size: 16px;
  font-weight: bold;
}
#tipoftheday-right-description {
  margin: 0px;
  border-top: 1px solid silver;
  padding: 10px;
  height: 168px;
  overflow: auto;
}
#tipoftheday-bottom-box {
  margin: 5px;
}
h1 {
  font-size: 12pt;
}

#tipoftheday-bottom-checkbox {
  font-size: smaller;
}
