@import url("chrome://bluegriffon/skin/black.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace svg url("http://www.w3.org/2000/svg");
@namespace html url("http://www.w3.org/1999/xhtml");

#aboutDialog {
   padding: 0px 0px 10px 0px;
   width: 578px;
   height: 380px;
   -moz-appearance: -moz-win-borderless-glass;
%ifdef XP_WIN
  background: transparent;
%endif
 }

tabbox {
  margin-top: 5px;
}

#iframe {
  overflow: auto;
}

tabpanels {
  -moz-appearance: none;
}

#titlebar {
  margin: 4px 8px;
}

#awardsBox {
  background-color: transparent;
  border-radius: 4px;
  overflow: auto;
}

#awardsBox image {
  margin-top: 1em;
  margin-bottom: 1em;
}

#titleInTitlebar {
  color: CaptionText;
}

#titleInTitlebar:-moz-window-inactive {
  color: ThreeDShadow;
}

/* titlebar command buttons */

#titlebar-min {
  -moz-appearance: -moz-window-button-minimize;
}

#titlebar-max {
  -moz-appearance: -moz-window-button-maximize;
}

#main-window[sizemode="maximized"] #titlebar-max {
  -moz-appearance: -moz-window-button-restore;
}

#titlebar-close {
  -moz-appearance: -moz-window-button-close;
}
