@import url("chrome://bluegriffon/skin/black.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace svg url("http://www.w3.org/2000/svg");
@namespace html url("http://www.w3.org/1999/xhtml");

#aboutDialog {
   padding: 0px 0px 10px 0px;
   width: 578px;
   height: 380px;
   -moz-appearance: -moz-win-borderless-glass;
   background-color: var(--bg-dark-background);
 }

tabbox {
  margin-top: 5px;
}

#iframe {
  overflow: auto;
}

tabpanels {
  color: graytext;
  -moz-appearance: none;
}


#awardsBox {
  background-color: white;
  border-radius: 4px;
  overflow: auto;
}

#awardsBox image {
  margin-top: 1em;
  margin-bottom: 1em;
}
