@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

ecolorpicker {
  -moz-binding: url("chrome://bluegriffon/content/bindings/ecolorpicker.xml#ecolorpicker");
}

filepickerbutton {
  -moz-binding: url('chrome://bluegriffon/content/bindings/filepickerbutton.xml#filepickerbutton');
}

.multibutton[checked],
.multibutton:hover:active:not([disabled]) {
  color: #00abff;
}

.multibutton {
  margin: 4px 0px;
  background-color: var(--bg-dark-background);
  -moz-appearance: none;
  border: thin var(--bg-dark-border) solid;
  color: var(--bg-foreground-color);
  padding: 2px 6px;
  text-shadow: none;
}

.multibutton:-moz-locale-dir(ltr) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.multibutton:-moz-locale-dir(rtl) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.multibutton:-moz-locale-dir(ltr) + .multibutton {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0px;
}

.multibutton:-moz-locale-dir(rtl) + .multibutton {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 0px;
}

.multibutton:last-child:-moz-locale-dir(ltr) {
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px;
  margin-right: 1em;
}

.multibutton:last-child:-moz-locale-dir(rtl) {
  border-top-left-radius: 5px; 
  border-bottom-left-radius: 5px;
  margin-left: 1em;
}

.multibutton .toolbarbutton-icon[src] {
  margin-left: 1em;
  margin-right: 1em;
}

.multibutton:not([label]) .toolbarbutton-text {
  display: none;
}

medium {
  -moz-binding: url('chrome://bluegriffon/content/bindings/media.xml#medium');
}

length {
  -moz-binding: url('chrome://bluegriffon/content/bindings/media.xml#length');
}

.medium-delete-button {
  visibility: hidden;
  list-style-image: url("chrome://global/skin/icons/close.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
}

hbox:hover > .medium-delete-button {
  visibility: visible;
}

.medium-delete-button:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

.medium-delete-button:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}

%ifdef XP_UNIX
toolbarbutton,
toolbarbutton:hover {
  -moz-appearance: none;
  border: 0px none ! important;
  background-image: none ! important;
  background-color: transparent ! important;
}
%endif