[Desktop Entry]
Name=BlueGriffon
GenericName=Create Web Pages
GenericName[es]=Crea páginas web
GenericName[it]=Creare pagine Web
GenericName[fr]=Créer des pages Web
GenericName[af]=Skep webblaaie
GenericName[sq]=Krijo Faqe Interneti
GenericName[be]=Стварэньне вэб-старонак
GenericName[ast]=Facer páxines web
GenericName[bn]=ওয়েব পৃষ্ঠা তৈরি করুন
GenericName[bs]=Kreirajte web stranice
GenericName[pt_BR]=Crie páginas web
GenericName[ca@valencia]=Creeu pàgines web
GenericName[ca]=Creeu pàgines web
GenericName[bg]=Създаване на уеб страници
GenericName[zh_HK]=建立網頁
GenericName[zh_CN]=创建网页
GenericName[zh_TW]=建立網頁
GenericName[crh]=Web sayfaları Oluştur
GenericName[nl]=Webpagina's ontwerpen
GenericName[da]=Opret websider
GenericName[cs]=Tvorba webových stránek
GenericName[fi]=Luo WWW-sivuja
GenericName[gl]=Cree páxinas web
GenericName[de]=Webseiten erstellen
GenericName[el]=Δημιουργήστε ιστοσελίδες
GenericName[is]=Búa til vefsíður
GenericName[hu]=Weboldalak készítése
GenericName[ky]=Веб - баракчаларын түзүү
GenericName[ms]=Cipta Laman Sesawang
GenericName[lt]=Kurkite tinklalapius
GenericName[nb]=Opprett websider
GenericName[oc]=Crear de paginas Web
GenericName[pt]=Crie páginas Web
GenericName[ro]=Creați pagini web
GenericName[sl]=Ustvarjajte spletne strani
GenericName[ru]=Создание веб-страниц
GenericName[sv]=Skapa webbplatser
GenericName[vi]=Tạo trang web
GenericName[uk]=Створення веб-сторінок
GenericName[tr]=Web sayfaları Oluştur
Comment=Web Authoring System
Comment[bg]=Система за създаване на уеб страници
Comment[cs]=Autorský webový systém
Comment[da]=Webudviklingssystem
Comment[de]=Web-Gestaltungssystem
Comment[el]=Σύστημα δημιουργίας διαδικτυακού περιεχομένου
Comment[es]=Sistema de autoría web
Comment[fi]=Verkkosivujen teko-ohjelma
Comment[fr]=Système de création de contenu Web
Comment[hu]=Weboldal szerkesztő
Comment[it]=Sistema di Authoring Web
Comment[ja]=Web オーサリングシステム
Comment[ko]=웹 오서링 시스템
Comment[lt]=Saityno autorizavimo sistema
Comment[nb]=Webdesignsystem
Comment[nl]=Webverificatiesysteem
Comment[pl]=Wizualny edytor stron WWW
Comment[pt]=Sistema de Autoria Web
Comment[pt_BR]=Sistema de autoração da Web
Comment[ro]=Sistem de autorizare web
Comment[ru]=Система создания веб-страниц
Comment[sk]=Web Authoring systém
Comment[tr]=Web Yazarlık Sistemi
Comment[uk]=Система веб-розробки
Comment[wa]=Sistinme d' askepiaedje di waibes
Comment[zh_CN]=网络创作系统
Comment[zh_TW]=網頁管理系統
Exec=bluegriffon
Icon=bluegriffon
Terminal=false
Type=Application
Categories=Development;WebDevelopment;
MimeType=text/html;text/xml;text/css;text/x-javascript;text/javascript;application/x-php;text/x-php;application/xhtml+xml;
