#filter substitution
[Desktop Entry]
Version=1.0
Name=@APP_NAME@
Comment=@APP_DESCRIPTION@
Exec=/usr/bin/@APP_NAME@
Terminal=false
Type=Application
Categories=Utility;
Icon=@APP_ICON@
MimeType=text/html;text/xml;application/xhtml+xml;
