@import url("chrome://bluegriffon/skin/black.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace svg url("http://www.w3.org/2000/svg");
@namespace html url("http://www.w3.org/1999/xhtml");

#aboutDialog {
   padding: 0px 0px 10px 0px;
   width: 578px;
   height: 380px;
   -moz-appearance: none;
   background-color: var(--bg-dark-background);
 }

tabbox {
  margin-top: 5px;
}

#iframe {
  overflow: auto;
}

tabpanels {
  color: graytext;
  -moz-appearance: none;
}

%ifdef CAN_DRAW_IN_TITLEBAR
#aboutDialog:not([chromemargin]) > #titlebar,
#aboutDialog[inFullscreen] > #titlebar,
#aboutDialog[inFullscreen] .titlebar-placeholder,
#aboutDialog:not([tabsintitlebar]) .titlebar-placeholder {
  display: none;
}

#titlebar {
  -moz-binding: url("chrome://global/content/bindings/general.xml#windowdragbox");

%ifdef XP_MACOSX
  -moz-window-dragging: drag;
%endif
}

#titlebar-spacer {
  pointer-events: none;
}

#aboutDialog[tabsintitlebar] #titlebar-buttonbox {
  position: relative;
}

#titlebar-buttonbox {
  -moz-appearance: -moz-window-button-box;
}

%ifdef XP_MACOSX
#titlebar-fullscreen-button {
  -moz-appearance: -moz-mac-fullscreen-button;
}

/* Because these buttons don't move, they should always be aligned the same,
 * left and right were deprecated, so we have to do work to get it to mean that: */
#titlebar-buttonbox-container:-moz-locale-dir(ltr) {
  -moz-box-align: start;
}

#titlebar-buttonbox-container:-moz-locale-dir(rtl) {
  -moz-box-align: end;
}

/* Fullscreen and caption buttons don't move with RTL on OS X so override the automatic ordering. */
#titlebar-secondary-buttonbox:-moz-locale-dir(ltr),
#titlebar-buttonbox-container:-moz-locale-dir(rtl),
.titlebar-placeholder[type="fullscreen-button"]:-moz-locale-dir(ltr),
.titlebar-placeholder[type="caption-buttons"]:-moz-locale-dir(rtl) {
  -moz-box-ordinal-group: 1000;
}

#titlebar-secondary-buttonbox:-moz-locale-dir(rtl),
#titlebar-buttonbox-container:-moz-locale-dir(ltr),
.titlebar-placeholder[type="caption-buttons"]:-moz-locale-dir(ltr),
.titlebar-placeholder[type="fullscreen-button"]:-moz-locale-dir(rtl) {
  -moz-box-ordinal-group: 0;
}
%else
/* On non-OSX, these should be start-aligned */
#titlebar-buttonbox-container {
  -moz-box-align: start;
}
%endif

%if !defined(MOZ_WIDGET_GTK) && !defined(MOZ_WIDGET_QT)
#TabsToolbar > .private-browsing-indicator {
  -moz-box-ordinal-group: 1000;
}
%endif

%ifdef XP_WIN
#aboutDialog[sizemode="maximized"] #titlebar-buttonbox {
  -moz-appearance: -moz-window-button-box-maximized;
}
%endif

%endif

#titlebar {
  margin: 4px 8px;
}

#awardsBox {
  background-color: transparent;
  border-radius: 4px;
  overflow: auto;
}

#awardsBox image {
  margin-top: 1em;
  margin-bottom: 1em;
}
