 #aboutDialog {
   padding: 0px 0px 10px 0px;
   width: 578px;
   height: 380px;
   -moz-appearance: none;
   background-color: #363d3f;
 }

tabbox {
  margin-top: 5px;
}

#iframe {
  overflow: auto;
}

tabpanels {
  color: graytext;
}
