@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

ecolorpicker {
  -moz-binding: url("chrome://bluegriffon/content/bindings/ecolorpicker.xml#ecolorpicker");
}

filepickerbutton {
  -moz-binding: url('chrome://bluegriffon/content/bindings/filepickerbutton.xml#filepickerbutton');
}

.multibutton[checked],
.multibutton:hover:active:not([disabled]) {
  color: #00abff;
}

.multibutton {
  margin: 4px 0px;
  background-color: #363d3f;
  -moz-appearance: none;
  border: thin #181818 solid;
  color: white;
  padding: 2px 6px;
}

.multibutton:-moz-locale-dir(ltr) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.multibutton:-moz-locale-dir(rtl) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.multibutton:-moz-locale-dir(ltr) + .multibutton {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0px;
}

.multibutton:-moz-locale-dir(rtl) + .multibutton {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 0px;
}

.multibutton:last-child:-moz-locale-dir(ltr) {
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px;
  margin-right: 1em;
}

.multibutton:last-child:-moz-locale-dir(rtl) {
  border-top-left-radius: 5px; 
  border-bottom-left-radius: 5px;
  margin-left: 1em;
}

.multibutton .toolbarbutton-icon[src] {
  margin-left: 1em;
  margin-right: 1em;
}

.multibutton:not([label]) .toolbarbutton-text {
  display: none;
}

medium {
  -moz-binding: url('chrome://bluegriffon/content/bindings/media.xml#medium');
}

length {
  -moz-binding: url('chrome://bluegriffon/content/bindings/media.xml#length');
}

.medium-delete-button {
  visibility: hidden;
  list-style-image: url("chrome://global/skin/icons/close.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
}

hbox:hover > .medium-delete-button {
  visibility: visible;
}

.medium-delete-button:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

.medium-delete-button:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}

menulist,
textbox[type="number"] {
  -moz-appearance: none;
  padding-left: 3px;
  padding-right: 3px;
  background-color: #363d3f;
  padding-left: 3px;
  border: thin solid #181818;
  color: white;
}

textbox[type="number"] .numberbox-input-box {
  -moz-appearance: none;
  border: none 0px;
  background-color: transparent;
}

menulist .menulist-dropmarker {
  -moz-appearance: none;
  display: -moz-box;
  background: transparent;
  border: none 0px;
}

menulist html|*.menulist-editable-input {
  color: white;
}

menulist[disabled="true"],
menulist[disabled="true"] html|*.menulist-editable-input,
menulist html|*.menulist-editable-input::-moz-placeholder  {
  color: graytext;
}

menulist html|*.menulist-editable-input::-moz-placeholder  {
  font-style: italic;
}

menulist[editable="true"] {
  margin-top: 5px;
  margin-bottom: 3px
}

menulist menupopup,
toolbarbutton menupopup {
  -moz-appearance: none;
  color: white;
  background-color: #363d3f;
}

menulist menuitem,
toolbarbutton menuitem {
  -moz-appearance: none;
  color: white;
}

menulist menuseparator,
toolbarbutton menuseparator {
  -moz-appearance: none;
  border-bottom: silver thin solid;
}
