@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


#MainToolbox > toolbar{
  -moz-padding-start: 2em;
}

#MainToolbox toolbarbutton,
#CustomizeToolbarWindow toolbarbutton,
#CustomizeToolbarSheet toolbarbutton {
  /*-moz-image-region: rect(0px 32px 32px 0px);*/
  -moz-box-orient: vertical;
}

#MainToolbox .toolbarbutton-icon {
  height: 12px;
  width:  12px;
}
:root[iconsize="medium"] #MainToolbox .toolbarbutton-icon {
  height: 16px;
  width:  16px;
}
:root[iconsize="large"] #MainToolbox .toolbarbutton-icon {
  height: 24px;
  width: 24px;
}

/* smaller icons */

:root[iconsize="medium"] #MainToolbox toolbarbutton[iconsize="smaller"] .toolbarbutton-icon {
  height: 12px;
  width:  12px;
}
:root[iconsize="large"] #MainToolbox toolbarbutton[iconsize="smaller"] .toolbarbutton-icon {
  height: 16px;
  width:  16px;
}

/* end smaller icons */

#MainToolbox .toolbarbutton-icon {
  margin: 2px;
}

#MainToolbox .toolbarbutton-text {
  padding-bottom: 4px;
}

#MainToolbox > toolbar[mode="icons"] .toolbarbutton-text {
  display: none;
}

#MainToolbox > toolbar[mode="text"] .toolbarbutton-icon,
#MainToolbox > toolbar[mode="text"] #composer-throbber {
  display: none;
}

#MainToolbox > toolbar[mode="text"] .toolbarbutton-text {
  padding: 4px;
}

#newButton {
  list-style-image: url("chrome://bluegriffon/skin/mainToolbar/plus.svg");
}

#openButton {
  list-style-image: url("chrome://bluegriffon/skin/mainToolbar/open.svg");
}

#refreshButton {
  list-style-image: url("chrome://bluegriffon/skin/mainToolbar/refresh.svg");
}

#stopButton {
  list-style-image: url("chrome://bluegriffon/skin/mainToolbar/stop.svg");
}

#tableButton {
  list-style-image: url("chrome://bluegriffon/skin/mainToolbar/table.svg");
}

#saveButton {
  list-style-image: url("chrome://bluegriffon/skin/mainToolbar/save.svg");
}

#imageButton {
  list-style-image: url("chrome://bluegriffon/skin/mainToolbar/image.svg");
}

#anchorButton {
  list-style-image: url("chrome://bluegriffon/skin/mainToolbar/anchor.svg");
}

#linkButton {
  list-style-image: url("chrome://bluegriffon/skin/mainToolbar/link.svg");
}

#cssButton {
  list-style-image: url("chrome://bluegriffon/skin/mainToolbar/css.png");
}

#videoButton {
  list-style-image: url("chrome://bluegriffon/skin/mainToolbar/video.svg");
}

#audioButton {
  list-style-image: url("chrome://bluegriffon/skin/mainToolbar/audio.svg");
}

#browseButton {
  list-style-image: url("chrome://bluegriffon/skin/mainToolbar/browse.svg");
}

#formButton {
  list-style-image: url("chrome://bluegriffon/skin/mainToolbar/form.svg");
}

/***************** THROBBER **************/

#composer-throbber {
  list-style-image: url('chrome://bluegriffon/skin/mainToolbar/logo.png');
}

#composer-throbber:hover {
  list-style-image: url('chrome://bluegriffon/skin/mainToolbar/logo-hover.png');
}

#MainToolbox > toolbar[iconsize="small"] #composer-throbber {
  list-style-image: url('chrome://bluegriffon/skin/mainToolbar/small/logo.png');
}

#MainToolbox > toolbar[iconsize="small"] #composer-throbber:hover {
  list-style-image: url('chrome://bluegriffon/skin/mainToolbar/small/logo-hover.png');
}

#MainToolbox toolbarseparator {
  height: 16px;
  background-color: transparent;
}

#MainToolbox[iconsize="small"] toolbarseparator {
  height: 16px;
}


/* ----- PRIMARY TOOLBAR BUTTONS ----- */

.toolbarbutton-1:not([type="menu-button"]),
.toolbarbutton-1 > .toolbarbutton-menubutton-button,
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker,
#restore-button {
  -moz-box-orient: vertical;
  -moz-appearance: none;
  height: 16px;
  padding: 0;
  border: 0;
}

.toolbarbutton-1:not([type="menu-button"]):-moz-lwtheme,
.toolbarbutton-1 > .toolbarbutton-menubutton-button:-moz-lwtheme,
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker:-moz-lwtheme,
#restore-button:-moz-lwtheme {
  -moz-appearance: none;
  padding: 0 3px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  background: -moz-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.2)) repeat-x;
  background-origin: border-box;
  box-shadow: inset 0 1px rgba(255,255,255,0.3), 0 1px rgba(255,255,255,0.2);
}

.toolbarbutton-1:not([type="menu-button"]):-moz-lwtheme-darktext,
.toolbarbutton-1 > .toolbarbutton-menubutton-button:-moz-lwtheme-darktext,
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker:-moz-lwtheme-darktext,
#restore-button:-moz-lwtheme-darktext {
  background-image: -moz-linear-gradient(rgba(255,255,255,0.3), rgba(50,50,50,0.2) 50%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.13));
}

.toolbarbutton-1[type="menu-button"] {
  padding: 0;
}

.toolbarbutton-1 > .toolbarbutton-menubutton-button,
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  margin: 0;
}

.toolbarbutton-1 {
  margin: 0 2px;
}

toolbar:not([mode="icons"]) .toolbarbutton-1:not([type="menu-button"]),
toolbar:not([mode="icons"]) .toolbarbutton-1 > .toolbarbutton-menubutton-button,
toolbar:not([mode="icons"]) .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker,
toolbar:not([mode="icons"]) #restore-button {
  -moz-appearance: none;
  padding: 0;
  height: auto;
  border: none;
  box-shadow: none;
  background: none;
}

.toolbarbutton-1:not([type="menu-button"]),
.toolbarbutton-1 > .toolbarbutton-menubutton-button,
#restore-button {
  min-width: 28px;
}

toolbar:not([mode="icons"]) .toolbarbutton-1:not([type="menu-button"]),
toolbar:not([mode="icons"]) .toolbarbutton-1 > .toolbarbutton-menubutton-button,
toolbar:not([mode="icons"]) #restore-button {
  min-width: 0;
}

.toolbarbutton-1:not(:-moz-any(#back-button, #forward-button, #reload-button, #stop-button, #home-button, #print-button, #downloads-button, #history-button, #bookmarks-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #cut-button, #copy-button, #paste-button, #fullscreen-button, #zoom-out-button, #zoom-in-button, #sync-button, #feed-button, #alltabs-button, #tabview-button)) > .toolbarbutton-icon,
.toolbarbutton-1 > .toolbarbutton-menubutton-button > .toolbarbutton-icon {
  margin: 2px;
}

.toolbarbutton-1[disabled="true"] > .toolbarbutton-icon,
.toolbarbutton-1[type="menu-button"] > .toolbarbutton-menubutton-button[disabled="true"] > .toolbarbutton-icon,
#restore-button[disabled="true"] > .toolbarbutton-icon {
  opacity: .4;
}

@media (-moz-mac-lion-theme) {
  .toolbarbutton-1[disabled="true"] > .toolbarbutton-icon,
  .toolbarbutton-1[type="menu-button"] > .toolbarbutton-menubutton-button[disabled="true"] > .toolbarbutton-icon,
  #restore-button[disabled="true"] > .toolbarbutton-icon,
  .toolbarbutton-1[disabled="true"] > .toolbarbutton-menu-dropmarker,
  .toolbarbutton-1[disabled="true"] > .toolbarbutton-menubutton-dropmarker,
  .toolbarbutton-1:not(:hover):-moz-window-inactive > .toolbarbutton-icon,
  .toolbarbutton-1:not(:hover):-moz-window-inactive > .toolbarbutton-icon,
  #restore-button:not(:hover):-moz-window-inactive > .toolbarbutton-icon,
  .toolbarbutton-1:not(:hover):-moz-window-inactive > .toolbarbutton-menu-dropmarker,
  .toolbarbutton-1:not(:hover):-moz-window-inactive > .toolbarbutton-menubutton-dropmarker {
    opacity: .5;
  }

  .toolbarbutton-1:-moz-window-inactive[disabled="true"] > .toolbarbutton-icon,
  .toolbarbutton-1:-moz-window-inactive[type="menu-button"] > .toolbarbutton-menubutton-button[disabled="true"] > .toolbarbutton-icon,
  #restore-button:-moz-window-inactive[disabled="true"] > .toolbarbutton-icon {
    opacity: .25;
  }
}

.toolbarbutton-1 > .toolbarbutton-menu-dropmarker,
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  list-style-image: url("chrome://bluegriffon/skin/mainToolbar/toolbarbutton-dropmarker-lion.png");
}

.toolbarbutton-1 > .toolbarbutton-menu-dropmarker {
  -moz-margin-end: 1px;
}

.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  width: 14px;
  padding-top: 2px;
  -moz-border-start: none !important;
}

toolbar:not([mode="icons"]) .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  width: auto;
  padding-top: 0;
}

.toolbarbutton-1 > .toolbarbutton-menubutton-button:-moz-locale-dir(rtl),
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker:-moz-locale-dir(ltr) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.toolbarbutton-1 > .toolbarbutton-menubutton-button:-moz-locale-dir(ltr),
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker:-moz-locale-dir(rtl) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

toolbar:not([mode="icons"]) .toolbarbutton-1:not([open="true"]) > .toolbarbutton-menubutton-dropmarker {
  opacity: .7;
}

.toolbarbutton-1 > .toolbarbutton-text,
.toolbarbutton-1 > .toolbarbutton-menubutton-button > .toolbarbutton-text {
  margin: 2px 0 0;
}

toolbar[mode="icons"] .toolbarbutton-1:not([type="menu-button"]):not([disabled="true"]):active:hover:-moz-lwtheme,
toolbar[mode="icons"] .toolbarbutton-1:not([type="menu-button"])[open="true"]:-moz-lwtheme,
toolbar[mode="icons"] .toolbarbutton-1:not([disabled="true"]) > .toolbarbutton-menubutton-button:active:hover:-moz-lwtheme,
toolbar[mode="icons"] .toolbarbutton-1[open="true"] > .toolbarbutton-menubutton-dropmarker:-moz-lwtheme,
toolbar[mode="icons"] #restore-button:not([disabled="true"]):active:hover:-moz-lwtheme {
  text-shadow: 0 1px rgba(255, 255, 255, .4);
  background-color: rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.6), 0 1px rgba(255,255,255,0.2);
}

toolbar[mode="icons"] .toolbarbutton-1:not([type="menu-button"]):not(#fullscreen-button)[checked="true"]:-moz-lwtheme {
  background-color: rgba(0,0,0,0.4);
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.7), 0 1px rgba(255,255,255,0.2);
}

toolbar[mode="icons"] .toolbarbutton-1:not([type="menu-button"]):not(#fullscreen-button)[checked="true"]:not([disabled="true"]):active:hover:-moz-lwtheme {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.8), 0 1px rgba(255, 255, 255, 0.2);
}

toolbar[mode="icons"] .toolbarbutton-1 > menupopup {
  margin-top: 1px;
}
