@media screen {
  .CodeMirror {
    line-height: 1em;
    font-family: monospace;
  }

  .CodeMirror-scroll {
    /* This is needed to prevent an IE[67] bug where the scrolled content
       is visible outside of the scrolling box. */
    position: relative;
  }


  .CodeMirror-scroll {
    overflow: auto;
    height: 300px;
  }

  .CodeMirror-gutter {
    position: absolute; left: 0; top: 0;
    z-index: 10;
    background-color: #f7f7f7;
    border-right: 1px solid #eee;
    min-width: 2em;
    height: 100%;
  }
  .CodeMirror-gutter-text {
    color: #aaa;
    text-align: right;
    padding: .4em .2em .4em .4em;
    white-space: pre !important;
  }
  .CodeMirror-lines {
    padding: .4em;
  }
  
  .CodeMirror pre {
    border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border-width: 0; margin: 0; padding: 0; background: transparent;
    font-family: inherit;
    font-size: inherit;
    padding: 0; margin: 0;
    white-space: pre;
    word-wrap: normal;
  }
  
  .CodeMirror-wrap pre {
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  .CodeMirror-wrap .CodeMirror-scroll {
    overflow-x: hidden;
  }
  
  .CodeMirror textarea {
    outline: none !important;
  }
  
  .CodeMirror pre.CodeMirror-cursor {
    z-index: 10;
    position: absolute;
    visibility: hidden;
    border-left: 1px solid black;
  }
  .CodeMirror-focused pre.CodeMirror-cursor {
    visibility: visible;
  }
  
  span.CodeMirror-selected { background: #d9d9d9; }
  .CodeMirror-focused span.CodeMirror-selected { background: #d2dcf8; }
  
  .CodeMirror-searching {background: #ffa;}
}

@media print {

  * {
    position: static !important;
    height: auto !important;
    width: auto !important;
    margin: 0px !important;
    padding: 0px !important;
    max-width: none !important;
    overflow: visible !important;
  }

  *:not(pre) {  }

  .CodeMirror-lines > div:first-child > div:first-child { display: none }

  textarea { display: none }
  
  .CodeMirror-gutter {
    float: left;
    margin-right: 15px !important;
  }
  .CodeMirror-gutter pre {
    text-align: right !important;
  }

  .CodeMirror-cursor { display: none }

  pre:nth-child(2n+1) { background-color: #f8f8f8 ! important}
  .cm-s-neat pre.activeline:nth-child(2n+1) { background-color: #fdfdfd ! important}
}
