.CodeMirror-gutter  .folded::before {
  content: "▶  ";
  color: #900;
}

.CodeMirror-gutter  .error {
  content: "!  ";
  background-color: #900;
  color: yellow;
}

.CodeMirror-gutter  .folded.error::before {
  content: "▶  ";
  color: yellow;
}
