#mathmlMainbox {
  overflow: auto;
  margin-left: 1em;
  margin-right: 1em;
}

#mathmlPropertiesBox {
  margin-top: 1em;
  margin-bottom: 1em;
}

#mathmlButtonsBox {
  margin-left: 1em;
  margin-right: 1em;
}
