/*
 * Muokkaa tätä tiedostoa ja kopioi nimellä userChrome.css 
 * profiilikansiosi chrome-kansioon
 */

/*
 * Tätä tiedostoa muokkaamalla on mahdollista radikaalisti muuttaa ohjelman
 * käyttöliittymän ulkonäköä. Jos antamasi säännön on tarkoitus korvata
 * olemassa oleva sääntö, käytä !important -lisäystä.
 */

/*
 * Älä poista seuraavaa @namespace riviä. Ilman sitä tiedosto ei toimi oikein.
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* Asetetaan oletusnimiavaruus XUL:ksi */


/*
 * Seuraavaksi joitain mahdollisia esteettömyysmuokkauksia:
 */
/*
 * Aseta käytettyjen kirjasimien oletuskooksi 20 pt:
 *
 * * {
 *   font-size: 20pt !important
 * }
 */
/*
 * Aseta ainoastaan valikkojen kirjasinkooksi 15 pt oletuskoon sijaan:
 *
 * menupopup > * {
 *   font-size: 15pt !important
 * }
 */
/*
 * Aseta osoitepalkin kirjasin tasaväliseksi
 *
 * #urlbar {
 *    font-family: monospace !important;
 * }
 */

/*
 * Lisää esimerkkejä säännöistä (englanniksi) osoitteesta http://www.mozilla.org/unix/customizing.html
 */
 
