
.titleholder {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #606060;
  font-weight: bold;
}

.floatingpanel-close {
  list-style-image: url("chrome://bluegriffon/skin/icons/closetab.png");
}

.floatingpanel-close:hover {
  list-style-image: url("chrome://bluegriffon/skin/icons/closetab-hover.png");
}

.floatingpanel-close:hover:active {
  list-style-image: url("chrome://bluegriffon/skin/icons/closetab-active.png");
}

box[anonid="resizer"] {
  width: 25px;
  height: 25px;
  background-image: url("chrome://bluegriffon/skin/panels/resizer.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.floatinpanel-align {
  list-style-image: url("chrome://bluegriffon/skin/panels/align-vertical-center.png");
  margin-right: 4px;
}


.pin {
  list-style-image: url("chrome://bluegriffon/skin/panels/pin.png");
  margin-right: 4px;
}
